header .intro {
    position: relative;
}

div.head {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom: 0.150rem solid var(--color-background-site);
}

img {
    height: 40vh;
    opacity: 75%;    
}