@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');

:root {
    --color-background-site: hsl(0, 0%, 20%);
    --main-color-blue: hsl(216, 74%, 20%);
    --secondary-color-yellow: hsl(44, 98%, 55%);
    --secondary-color-white: hsl(0, 0%, 100%);
    --secondary-color-grey: hwb(0 88% 11% / 0.56); 
}


body {
    font-family: 'Merriweather', sans-serif !important;
}

p {
    font-family: 'Karla', serif;
    font-weight: 400;
    font-style: italic;
}

.leckerli-font {
    font-family: 'Leckerli One', cursive;
}






